api_key = "key-yourApiKeyHere"
omega_email = "omega+chapteremailer@skullhouse.nyc"
sigma_email = "sigma+chapteremailer@skullhouse.nyc"
users = [
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
]
