api_key = "key-yourApiKeyHere"
omega_email = "somebody@nyu.edu"
sigma_email = "somebodyElse@nyu.edu"
users = [
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
    "user@nyu.edu",
]
